.container {
  display: flex;
  width: 100%;
  aspect-ratio: 358 / 243;
  min-width: 250px;
  overflow: hidden;
  border: 1px solid rgba(131, 131, 131, 0.5);
  border-radius: 20px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .container {
    min-width: 100%;
  }
}

.thumbNail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .thumbNail {
    padding: 20px;
  }
}

.thumbnail0 .nickName {
  color: #578246;
}

.thumbnail1 .nickName {
  color: #c18e1b;
}

.thumbnail2 .nickName {
  color: #418099;
}

.thumbnail3 .nickName {
  color: #c4013e;
}

.thumbnail4 .nickName,
.thumbnail5 .nickName,
.thumbnail6 .nickName,
.thumbnail7 .nickName {
  color: #fff;
}

.underlineLink {
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.emoji {
  margin: 2px;
}

.badge {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 1.5px 8px;
  border-radius: 999px;
  border: 1px solid rgba(131, 130, 130, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  color: #414141;
  font-size: 10px;
  font-weight: 600;
  z-index: 1;
  white-space: nowrap;
}

.title {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  gap: 4px;
}

.studyName {
  color: #414141;
}

.meta {
  display: flex;
  font-size: 12px;
  color: #818181;
  margin: 5px 0 10px;
}

.introduction {
  display: flex;
  font-size: 12px;
  color: #414141;
  font-weight: 400;
}

.stats {
  display: flex;
  gap: 8px;
  z-index: 1;
  margin-top: auto;
}

.stat {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 999px;
  padding: 3px 10px;
  font-size: 10px;
  color: #fff;
}