.inputTextContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputText {
    width: 100%;
    padding: 8px;
    border: 1px solid #0000001A;
    border-radius: 8px;
}

.inputText:focus {
    outline: none;
}
